--
-- PostgreSQL database dump
--

\restrict 91conEBPVa1Csi53r4n3iJV27bDQ6zpxW8Dqac6JxnPh4JBoqcmy07hmt7njl34

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: brands; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.brands (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.brands OWNER TO arches_user;

--
-- Name: discount_codes; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.discount_codes (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    type text NOT NULL,
    value numeric(10,2) NOT NULL,
    is_single_use boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    used_by character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.discount_codes OWNER TO arches_user;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.order_items (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    order_id character varying NOT NULL,
    product_id character varying NOT NULL,
    quantity integer NOT NULL,
    price_at_purchase numeric(10,2) NOT NULL
);


ALTER TABLE public.order_items OWNER TO arches_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.orders (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    user_id character varying NOT NULL,
    shipping_address_id character varying,
    total_amount numeric(10,2) NOT NULL,
    discount_amount numeric(10,2) DEFAULT '0'::numeric,
    discount_code_id character varying,
    payment_intent_id text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    tracking_number text,
    first_name text,
    last_name text,
    address text,
    address_line_2 text,
    city text,
    postal_code text,
    country text,
    shipping_cost numeric(10,2),
    shipping_carrier text,
    shipping_service text,
    estimated_delivery_days integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.orders OWNER TO arches_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.products (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    brand_id character varying,
    title_fr text NOT NULL,
    title_de text NOT NULL,
    title_en text NOT NULL,
    description_fr text NOT NULL,
    description_de text NOT NULL,
    description_en text NOT NULL,
    price numeric(10,2) NOT NULL,
    discount_percentage integer DEFAULT 0,
    quantity_in_stock integer DEFAULT 0 NOT NULL,
    image_url_1 text NOT NULL,
    image_url_2 text NOT NULL,
    alt_text_fr text NOT NULL,
    alt_text_de text NOT NULL,
    alt_text_en text NOT NULL,
    average_rating numeric(3,2) DEFAULT '0'::numeric,
    review_count integer DEFAULT 0 NOT NULL,
    order_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.products OWNER TO arches_user;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.reviews (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    product_id character varying NOT NULL,
    user_id character varying NOT NULL,
    order_id character varying,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reviews OWNER TO arches_user;

--
-- Name: shipping_addresses; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.shipping_addresses (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    user_id character varying NOT NULL,
    label text,
    first_name text NOT NULL,
    last_name text NOT NULL,
    address text NOT NULL,
    address_line_2 text,
    city text NOT NULL,
    postal_code text NOT NULL,
    country text DEFAULT 'CH'::text NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.shipping_addresses OWNER TO arches_user;

--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.site_settings (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    default_language text DEFAULT 'fr'::text NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.site_settings OWNER TO arches_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: arches_user
--

CREATE TABLE public.users (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role text DEFAULT 'USER'::text NOT NULL,
    stripe_customer_id character varying,
    first_name text,
    last_name text,
    address text,
    address_line_2 text,
    city text,
    postal_code text,
    country text DEFAULT 'CH'::text,
    reset_password_token text,
    reset_password_expires timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO arches_user;

--
-- Data for Name: brands; Type: TABLE DATA; Schema: public; Owner: arches_user
--

COPY public.brands (id, name, description, created_at) FROM stdin;
\.


--
-- Data for Name: discount_codes; Type: TABLE DATA; Schema: public; Owner: arches_user
--

COPY public.discount_codes (id, code, type, value, is_single_use, is_active, used_by, created_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: arches_user
--

COPY public.order_items (id, order_id, product_id, quantity, price_at_purchase) FROM stdin;
1b88f311-f4a1-45b8-8157-beea0dc34106	4c5650a3-4ac0-426c-abb5-46d1fc5ca549	8ad9c543-26c0-4954-9d8d-923618b11b37	2	29.90
81f9bdbe-7df8-4bfa-8026-667789e1f29a	70ea28b9-48a1-4004-9d9d-5e671bcb6dc2	8ad9c543-26c0-4954-9d8d-923618b11b37	3	19.90
9df27dfd-081e-4007-975a-3be6d3b50b3a	b0db611b-1bdd-45bf-aa67-d7b41f07aeaa	8ad9c543-26c0-4954-9d8d-923618b11b37	1	19.99
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: arches_user
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: arches_user
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: arches_user
--

COPY public.reviews (id, product_id, user_id, order_id, rating, comment, created_at) FROM stdin;
\.


--
-- Data for Name: shipping_addresses; Type: TABLE DATA; Schema: public; Owner: arches_user
--

COPY public.shipping_addresses (id, user_id, label, first_name, last_name, address, address_line_2, city, postal_code, country, is_default, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: arches_user
--

COPY public.site_settings (id, default_language, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: arches_user
--



--
-- Name: brands brands_name_unique; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_name_unique UNIQUE (name);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: discount_codes discount_codes_code_unique; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.discount_codes
    ADD CONSTRAINT discount_codes_code_unique UNIQUE (code);


--
-- Name: discount_codes discount_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.discount_codes
    ADD CONSTRAINT discount_codes_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_payment_intent_id_unique; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_payment_intent_id_unique UNIQUE (payment_intent_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_user_id_product_id_unique; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_product_id_unique UNIQUE (user_id, product_id);


--
-- Name: shipping_addresses shipping_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.shipping_addresses
    ADD CONSTRAINT shipping_addresses_pkey PRIMARY KEY (id);


--
-- Name: site_settings site_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_stripe_customer_id_unique; Type: CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_stripe_customer_id_unique UNIQUE (stripe_customer_id);


--
-- Name: order_items order_items_order_id_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_orders_id_fk FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_product_id_products_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_products_id_fk FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: orders orders_shipping_address_id_shipping_addresses_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_shipping_address_id_shipping_addresses_id_fk FOREIGN KEY (shipping_address_id) REFERENCES public.shipping_addresses(id);


--
-- Name: orders orders_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: products products_brand_id_brands_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_brand_id_brands_id_fk FOREIGN KEY (brand_id) REFERENCES public.brands(id);


--
-- Name: reviews reviews_order_id_orders_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_order_id_orders_id_fk FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: reviews reviews_product_id_products_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_product_id_products_id_fk FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: reviews reviews_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: shipping_addresses shipping_addresses_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: arches_user
--

ALTER TABLE ONLY public.shipping_addresses
    ADD CONSTRAINT shipping_addresses_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 91conEBPVa1Csi53r4n3iJV27bDQ6zpxW8Dqac6JxnPh4JBoqcmy07hmt7njl34

